<div>
Changes in revision(s) <%= linked_revision_list(build.revision) %> <%= if build.state == 'fail' then 'failed' else 'succeeded' end -%>
<% if build.state == 'fail' %>
 (see <%= link_to 'build log', :controller => 'builds', :action => 'show', :id => build.id %>).
<% else -%>
.
<% end -%>
</div>
