body { 
font-family: futura, helvetica, arial, sans-serif;
margin: 0;
}
/* div {border: solid 1px red;} */
h1 {
font-size: 100%;
font-weight: normal;
}
#header {
padding: 1.6em 3em 0.1em 3em;
color: #e3dfdf;
background: #888;
margin: 0;
}
#logo {
font: 220% Didot;
color: #fff;
}
#content {
border-bottom: 7px solid #bbb;
padding: 1px 3em 5pt 3em;
margin: 0;
color: #555;
background: #fff;
}
a {
text-decoration: none;
color: #888;
}
a:hover {
text-decoration: underline;
}
h2 {
font-size: 120%;
font-weight: normal;
color: #888;
line-height: 1.0em;
}
td, th {
border-top: 1pt dotted #888;
border-bottom: 1pt dotted #888;
padding: 0.5em 0.8em 0.5em 0.1em;
}
th {
font-weight: normal;
text-align: left;
}

#content table div {overflow: hidden; white-space:nowrap;}

div.widecol {width: 12em;}
div.narrowcol {width: 6em;} 
div span.fail a {color: #b65423;}
div span.success {color: #63755d;}

table {
border-collapse: collapse;
}
.pagination {
margin: 1em 0 1.6em 0;
}
.pagination * {
display: inline;
padding: 0 8pt 0 8pt;
}
/* .pagination > .current {} */
.pagination .disabled {color: #aaa;}
.pagination .gap {color: #aaa;}
.pagination a {
border: solid #ccc 1px;
background: #eee;
}
