body { 
font-family: "Helvetica Neue", arial, sans-serif;
margin: 0;
}
/* div {border: solid 1px red;} */
h1 {
font-size: 100%;
}
#header {
padding: 1.6em 3em 0.1em 3em;
background: #888888;
color: #e3dfdf;
margin: 0;
}
#logo {
font: 220% Didot;
}

div#nav {
padding: 1em 0 1em 0;
}
#nav ul {
margin: 0;
padding: 0;
white-space: nowrap;
}
#nav li {
margin: 0;
padding: 0;
display: inline;
list-style-type: none;
}

#nav a {
padding: 1em 3em 1em 3em;
}
#nav a:link, #nav a:visited
{
color: #fff;
text-decoration: none;
}
#nav a:hover
{
color: #fff;
background-color: #bbb;
text-decoration: none;
border-bottom: 3px solid #888;
}


#content {
border: 0;
padding: 0.1px 3em 5pt 3em;
margin: 0;
color: #888;
background: #e3dfdf;
}
a {
text-decoration: none;
color: #666;
}
a:hover {
text-decoration: underline;
}
h2 {
font-size: 120%;
font-weight: normal;
color: #999;
line-height: 1.0em;
}
td, th {
border-top: 1pt solid #666;
border-bottom: 1pt solid #666;
padding-top: 0.6em;
padding-bottom: 0.4em;
padding-right: 0.8em;
}
.fail {  }
.success {  }
table {
width: 50em;
border-collapse: collapse;
}
.pagination {
margin: 1em 0 1.6em 0;
}
.pagination * {
display: inline;
padding: 0 8pt 0 8pt;
}
/* .pagination > .current {} */
.pagination .disabled {color: #aaa;}
.pagination .gap {color: #aaa;}
.pagination a {
border: solid #ccc 1px;
background: #eee;
}